<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/pexels-pixabay-41949.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <div class="angular-logo">
                        <img src="assets/img/logo.png" alt="">
                    </div>
                    <h1 class="presentation-title">NEXUS</h1>  
                </div>

                <h2 class="presentation-subtitle text-center">ESCALET INICIAL</h2>
            </div>
        </div>
       
    </div>
 <div class="main">
      <app-bloc1></app-bloc1>
      <app-navigation></app-navigation>
      <app-bloc2></app-bloc2>
        <div class="section section-dark">
           
            <div class="container">
                <div class="row example-page">
                    
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/pexels-pixabay-41949.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">MÉS INFORMACIÓ</a>
                        </a>
                    </div>
                    <div class="col-md-6 text-center" routerLinkActive="active">
                        <a [routerLink]="['/landing']">
                            <img src="./assets/img/pexels-pixabay-41949.jpg" alt="Rounded Image" class="img-rounded img-responsive" style="width: 100%">
                            <a [routerLink]="['/landing']" class="btn btn-outline-neutral btn-round">MÉS INFORMACIÓ</a>
                        </a>
                    </div>
                    </div>  
                </div>
            </div>
            </div>
           <p class="float-right">test</p>
    </div>
     


